/*
 * Globals
 */

/* Links */
a,
a:focus {
  color: #333;
}

a:hover {
  color: black;
}

/* Custom button */

.btn-secondary {
  background-color: white; 
  border: .05rem solid #333;
  text-shadow: 0 .05rem .05rem #333;
  color: #333;
}
.btn-secondary:hover {
  background-color: #E9E8E8;
  text-shadow: 0 .05rem .05rem #333;
  color: #333;
}
.btn-secondary:focus {
  color: #2E4F4F;
}

/*
 * Header
 */

 .nav-masthead .nav-link {
  color: #333;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  color: #fff;
  border-bottom-color: #fff;
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #333;
  border-bottom-color: #333;
}

.hideHeader {
  /* display: none;  */
   visibility: collapse; 
}

/*
 * Base structure
 */

html,
body {
  width: 100%;
  height: 100%;
  display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
 
}

body {
  justify-content: center;
  color: rgba(0, 0, 0, .7);
  text-shadow: 0 .05rem .1rem #333;
  box-shadow: 0 .05rem .1rem #333;
}


/*
 * Cover
 */
.cover {
  padding: 0 1.5rem;
 
}
.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: 700;
}


/*
* Image Profile
*/

.profile-picture-img {  
    width: 200px;
    margin-top: 2%;
    margin-bottom: 2% ;
    margin-left : auto;
    margin-right : auto;
    border-radius: 50%;
    padding: 2px;
    border: #333 1px solid;
    /* background-image: url('https://images.pexels.com/photos/4947176/pexels-photo-4947176.jpeg');
  background-size: cover; */
  
    
}

/*
* Arrow
*/

.textArrow {
  font-family: 'Reenie Beanie', cursive;
  margin: 2% auto 0% auto;
  font-size: 40px;
}

.arrow {
  height: 60px;
  margin: 1% auto 2% auto;
}


.hideArrow {
  visibility: hidden;
}


/*
 * Footer
 */

.mastfoot {
  color: rgba(255, 255, 255, .6);
}

/* 
* Background image 
*/



.back-image {
  background: url('./images/mountains.jpg') no-repeat center fixed; 
  /*     The url of image is 'https://images.pexels.com/photos/1054222/pexels-photo-1054222.jpeg' */
  background-size: cover;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 100%;
} 



/* 
* Flex items . 
*/


@media (min-width:900px) {
  .second-flex-item {
      width: 50%;
  }
  .research-flex-item{
    width: 60%;
  }
  .flex-item-spacing{
    width: 80%;
  }
  .api-flex-item{
    width: 50%;
}
}


.publi-item-text {
  text-align: left;
  margin-right: auto;
}

.flex-img{
  height: 5rem;
  margin-right: 30px;
}





/* 
* Dots 
*/

.dots {
  border: none;
  border-top: 10px dotted;
  border-color: grey;
  width: 5%;
  margin: 0 auto 0 auto;
}


/*
* Animation
*/

@keyframes wipe-enter {
	0% {
		transform: scale(0, .025);
	}
	50% {
		transform: scale(1, .025);
	}
}

.div-opacity {
  opacity: 0;
}

@media (prefers-reduced-motion: no-preference) {
  .div-opacity {
    transition: opacity ;
    transition-duration: 3s ; 
    transition-timing-function: ease ;
    transition-delay: 250ms;
  }
}

.div-opacity-transition {
    opacity: 1;
}


