/*
 * Globals
 */

/* Links */

a:link {
  text-decoration: none;
}

a,
a:focus {
  color: #333;
}

a:hover {
  color: #454444c8;
}

.hover-underline-animation {
  color: #333;
  /* text-shadow: 0 0.05rem 0.1rem #333; */
  position: relative;
}

.hover-underline-animation::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #454444c8;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

/* Custom button */

.btn-secondary {
  background-color: white;
  border: 0.05rem solid #333;
  text-shadow: 0 0.05rem 0.05rem #333;
  color: white;
}
.btn-secondary:hover {
  background-color: #e9e8e8;
  text-shadow: 0 0.05rem 0.05rem #333;
  color: #333;
}
.btn-secondary:focus {
  color: #2e4f4f;
}

/*
 * Header
 */

.nav-masthead .nav-link {
  color: #333;
  border-bottom: 0.25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  color: #fff;
  border-bottom-color: #fff;
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #333;
  border-bottom-color: #333;
}

.hideHeader {
  /* display: none;  */
  visibility: collapse;
}

/*
 * Base structure
 */

html,
body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  /* text-shadow: 0 0.05rem 0.1rem #333; */
}

body {
  /* justify-content: center; */
  color: rgba(0, 0, 0, 0.7);
  box-shadow: 0 0.05rem 0.1rem #333;
}

/*
 * Cover
 */
.cover {
  padding: 0 1.5rem;
}
.cover .btn-lg {
  padding: 0.75rem 1.25rem;
  font-weight: 700;
}

/*
* Image Profile
*/

.profile-picture-img {
  width: 200px;
  margin-top: 2%;
  margin-bottom: 2%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  padding: 2px;
  border: #333 1px solid;
  /* background-image: url('https://images.pexels.com/photos/4947176/pexels-photo-4947176.jpeg');
  background-size: cover; */
}

/*
 * Footer
 */

.mastfoot {
  color: rgba(255, 255, 255, 0.6);
}

/* 
* Background  
*/

.back-image {
  background: url("./images/mountains.jpg") no-repeat center fixed;
  /*     The url of image is 'https://images.pexels.com/photos/1054222/pexels-photo-1054222.jpeg' */
  background-size: cover;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 100%;
}

.back-text {
  background-color: rgba(233, 241, 239, 0.74);
}

/* 
* Flex items . 
*/

@media (min-width: 900px) {
  .second-flex-item {
    width: 50%;
  }
  .research-flex-item {
    width: 60%;
  }
  .flex-item-spacing {
    width: 80%;
  }
  .api-flex-item {
    width: 50%;
  }
}

.adapt-screen {
  width: 60%;
}

@media (max-width: 1600px) {
  .adapt-screen {
    width: 70%;
  }
}

@media (max-width: 992px) {
  .adapt-screen {
    width: 80%;
    flex-wrap: wrap;
    justify-content: center;
    /* text-align: center; */
  }
}

.publi-item-text {
  text-align: left;
  margin-right: auto;
}

.flex-img {
  height: 5rem;
  margin-right: 30px;
}

.institution {
  color: #454444c8;
  /* text-shadow: 0 0.05rem 0.1rem #454444c8; */
}

.card_infos {
  color: #454444c8;
  /* text-shadow: 0 0.05rem 0.1rem #454444c8; */
}

/* 
* Dots 
*/

.dots {
  border: none;
  border-top: 10px dotted;
  border-color: grey;
  width: 5%;
  margin: 0 auto 0 auto;
}

/*
* Animation
*/

@keyframes wipe-enter {
  0% {
    transform: scale(0, 0.025);
  }
  50% {
    transform: scale(1, 0.025);
  }
}

.div-opacity {
  opacity: 0;
}

@media (prefers-reduced-motion: no-preference) {
  .div-opacity {
    transition: opacity;
    transition-duration: 250ms;
    transition-timing-function: ease;
    transition-delay: 250ms;
  }
}

.div-opacity-transition {
  opacity: 1;
}

/*
* Read more
*/

#more {
  display: none;
  margin-top: 0px;
}

#myReadMoreBtn {
  border: none;
  background-color: transparent;
  color: #333;
  text-shadow: 0 0.05rem 0.1rem #333;
  margin-bottom: 5px;
}
#myReadMoreBtn:hover {
  text-shadow: 0 0.05rem 0.05rem #333;
  color: #2e4f4f;
}
#myReadMoreBtny:focus {
  color: #2e4f4f;
}

/*

*To-do List 
*/

h1 {
  text-align: center;
}

.List-div {
  max-width: 60%;
  margin: 3% auto 5% auto;
  background-color: rgba(245, 245, 220, 0.2);
  border-radius: 5px;
  padding: 0%;
}

@media (max-width: 992px) {
  .List-div {
    max-width: 100%;
    margin: 1% auto 1% auto;
    background-color: rgba(245, 245, 220, 0.2);
    border-radius: 0px;
    padding: 0%;
  }
  .list-group {
    font-size: 1rem;
  }
}

.list-group {
  font-size: 1.1rem;
}

input[type="checkbox"]:checked + span {
  text-decoration-line: line-through;
  opacity: 0.5;
}

/*
* Drum Kit
*/

.a {
  background-image: url("./images/tom1.png");
}

.z {
  background-image: url("./images/tom2.png");
}

.e {
  background-image: url("./images/tom3.png");
}

.r {
  background-image: url("./images/tom4.png");
}

.i {
  background-image: url("./images/snare.png");
}

.o {
  background-image: url("./images/crash.png");
}

.p {
  background-image: url("./images/kick.png");
}

.set {
  margin: 5% auto;
}

.drum {
  outline: none;
  border: 10px solid #404b69;
  font-size: 3.5rem;
  font-family: "Arvo", cursive;
  line-height: 2;
  font-weight: 900;
  color: gray;
  text-shadow: 3px 0 #dbedf3;
  border-radius: 15px;
  display: inline-block;
  width: 120px;
  height: 120px;
  text-align: center;
  margin: 10px;
  background-color: white;
}

.pressed {
  box-shadow: 0 3px 4px 0 #dbedf3;
  opacity: 0.5;
}

/*
Caroussel
*/

.box {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  height: 40vh;
  display: grid;
  place-items: center;
}

.slider {
  width: 100%;
  max-width: 560;
  height: 320px;
  position: relative;
  overflow: hidden; /* <===  */
  border-radius: 15px;
  border: solid 2px gray;
  background-color: white
}

.slide {
  width: 100%;
  padding: 5px;
  max-width: 560px;
  height: 320px;
  position: absolute;
  transition: all 0.5s;
  border-radius: 15px;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 15px;
}

.btn-caroussel {
  position: relative;
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 50%;
  z-index: 10px;
  cursor: pointer;
  background-color: #fff;
  font-size: 18px;
  box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0), 0 0 0 2px rgb(255, 255, 255),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}

.btn:active {
  transform: scale(1.1);
}

.btn-prev {
  top: 45%;
  left: -45%;
}

.btn-next {
  top: 45%;
  right: -45%;
}
